<div class="container mt-3">

    <h2>Employee: <span class="text-primary">{{ employee.fullName }}</span></h2>

    <hr>
    
      
        <div class="row mt-2">
          <div class="col-md-2 fw-bold">Id</div>
          <div class="col-md-4">{{ employee.id}}</div>
        </div>
      
        <div class="row mt-2">
          <div class="col-md-2 fw-bold">Gender</div>
          <div class="col-md-4">{{gender[employee.gender]}}</div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2 fw-bold">Irata Level</div>
            <div class="col-md-4">{{ employee.irataLevel }}</div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2 fw-bold">Address</div>
            <div class="col-md-4">{{address[employee.address]}}</div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2 fw-bold">Nationality</div>
            <div class="col-md-4">{{nationality[employee.nationality]}}</div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2 fw-bold">Rank</div>
            <div class="col-md-4">{{rank[employee.rank]}}</div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2 fw-bold">Salary</div>
            <div class="col-md-4">{{ employee.salary | currency}}</div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2 fw-bold">Total Advances</div>
            <div class="col-md-4">{{ employee.totalAdvances | currency}}</div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2 fw-bold">Date Of Birth</div>
            <div class="col-md-4">{{ employee.dob | date: 'short'}}</div>
        </div>

        <div class="row mt-2">  
          <div class="col-md-2 fw-bold">Age</div>
          <div class="col-md-4">{{ employee.age }}</div>
        </div>
      
        <div class="row mt-2">
          <div class="col-md-2 fw-bold">Mobile Number</div>
          <div class="col-md-4">{{ employee.mobileNumber }}</div>
        </div>

    <div class="btns mt-3">
        <button class="btn btn-secondary" [routerLink]="['/employee']">Back</button>
        <button class="btn btn-primary ms-2" [routerLink]="['/employee/edit', employee.id]">Edit</button>
    </div>

</div>