<div class="container mt-3">

    <h1 class="text-white">Equipments</h1>
  
    <button mat-raised-button color="primary" [routerLink]="['/equipments/add']">Add New Equipment</button>
  
      <table mat-table [dataSource]="equipmentDS" class="mat-elevation-z2 w-100 mt-3 section-table">
  
          <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="text-white border-bottom"> Equipment Name </th>
          <td mat-cell *matCellDef="let equipment" class="text-white border-bottom"> {{equipment.name}} </td>
          </ng-container>      
  
          <ng-container matColumnDef="projectName">
              <th mat-header-cell *matHeaderCellDef class="text-white border-bottom"> Project Name </th>
              <td mat-cell *matCellDef="let equipment" class="text-success border-bottom">
                <span *ngIf="equipment.projectName == null" class="text-danger"> - On Stock - </span>
                {{equipment.projectName}}
              </td>
          </ng-container>
      
          <ng-container matColumnDef="entryDate">
            <th mat-header-cell *matHeaderCellDef class="text-white border-bottom"> Entry Date </th>
            <td mat-cell *matCellDef="let equipment" class="text-white border-bottom"> {{equipment.entryDate | date: 'short'}} </td>
          </ng-container>               
  
          <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="text-white border-bottom"> Actions </th>
              <td mat-cell *matCellDef="let equipment" class=" border-bottom">
                  <a [routerLink]="['/equipments/edit', equipment?.id]" title="Edit">
                      <i class="fa-solid fa-marker"></i>
                    </a>
                    <a class="ms-3" [routerLink]="['/equipments/details', equipment.id]" title="Details">
                      <i class="fa-solid fa-circle-info text-info"></i>
                    </a>
                    <a class="ms-3 pointer" title="Delete" (click)="openDeleteDialog(equipment)">
                      <i class="fa-solid fa-trash text-danger"></i>
                    </a>
              </td>
            </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="equipmentColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: equipmentColumns;"></tr>
      </table>
  
      <div class="mt-2">
        <mat-paginator [length]="100"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page"
        class="section-table text-white">
</mat-paginator>
      </div>
  </div>  
