<div class="container mt-3">

    <h1 class="text-white">Advances</h1>
  
    <button mat-raised-button color="primary" [routerLink]="['/advances/add']">Add New Advance</button>
  
      <table mat-table [dataSource]="advanceDS" class="mat-elevation-z2 w-100 mt-3 section-table">
  
          <ng-container matColumnDef="employeeFullName">
          <th mat-header-cell *matHeaderCellDef class="text-white border-bottom"> Employee Name </th>
          <td mat-cell *matCellDef="let advance" class="text-white border-bottom"> {{advance.employeeFullName}} </td>
          </ng-container>
      
      
          <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef class="text-white border-bottom"> Amount </th>
          <td mat-cell *matCellDef="let advance" class="text-white border-bottom"> {{advance.amount | currency}} </td>
          </ng-container>
  
          <ng-container matColumnDef="advanceDate">
          <th mat-header-cell *matHeaderCellDef class="text-white border-bottom"> Advance Date </th>
          <td mat-cell *matCellDef="let advance" class="text-white border-bottom"> {{advance.advanceDate | date: 'short'}} </td>
          </ng-container>
      
          <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="text-white border-bottom"> Actions </th>
              <td mat-cell *matCellDef="let advance" class=" border-bottom">
                  <a [routerLink]="['/advances/edit', advance?.id]" title="Edit">
                      <i class="fa-solid fa-marker"></i>
                    </a>
                    <a class="ms-3" [routerLink]="['/advances/details', advance.id]" title="Details">
                      <i class="fa-solid fa-circle-info text-info"></i>
                    </a>
                    <a class="ms-3 pointer" title="Delete" (click)="openDeleteDialog(advance)">
                      <i class="fa-solid fa-trash text-danger"></i>
                    </a>
              </td>
            </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="advanceColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: advanceColumns;"></tr>
        </table>
        <div class="mt-2">
          <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page"
              class="section-table text-white">
      </mat-paginator>
        </div>
  
  </div>  
    
