<div class="container my-3 text-white">
    <h2>
  
      <ng-container *ngIf="pageMode == pageModeEnum.add; else pageTitleElse">
        <span>Add Employee</span>
      </ng-container>
      <ng-template #pageTitleElse>
        Edit Employee <span class="text-danger">{{employee.firstName}} {{employee.lastName}}</span>
      </ng-template>
  
    </h2>
  
    <hr>
  
    <form class="mt-4" [formGroup]="employeeForm" (ngSubmit)="submitForm()">

      <div class="row ">
  
        <div class="col-md-4">
          <div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label class=" text-white">First Name</mat-label>
              <input matInput placeholder="FirstName" formControlName="firstName" class=" text-white">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label class=" text-white">Last Name</mat-label>
              <input matInput placeholder="LastName" formControlName="lastName" class=" text-white">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label class=" text-white">Gender</mat-label>
              <mat-select formControlName="gender" class=" text-white">
                <mat-option *ngFor="let gender of genderEnum | enumToArray" [value]="gender.index" class=" text-white">
                  {{ gender.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label class=" text-white">Date of birth</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dob" class=" text-white">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label class=" text-white">Address</mat-label>
              <mat-select formControlName="address" class=" text-white">
                <mat-option *ngFor="let address of addressEnum | enumToArray" [value]="address.index" class=" text-white">
                  {{ address.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="mt-3">
        
            <button mat-raised-button [routerLink]="['/employees']">Cancel</button>
    
            <button type="submit" mat-raised-button color="primary" class="ms-2">
              <ng-container *ngIf="pageMode == pageModeEnum.add; else formSubmitButtonName">
                Create
              </ng-container>
              <ng-template #formSubmitButtonName>
                Save
              </ng-template>
            </button>
            
          </div>

        </div>

        <div class="col-md-4">                   
          <div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label class=" text-white">Nationality</mat-label>
              <mat-select formControlName="nationality">
                <mat-option *ngFor="let nationality of nationalityEnum | enumToArray" [value]="nationality.index">
                  {{ nationality.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label class=" text-white">Rank</mat-label>
              <mat-select formControlName="rank">
                <mat-option *ngFor="let rank of rankEnum | enumToArray" [value]="rank.index">
                  {{ rank.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label class=" text-white">Irata Level</mat-label>
              <input matInput formControlName="irataLevel" required class=" text-white">
              <mat-error>Irata Level is required</mat-error>
            </mat-form-field>
          </div>

          <div class="">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label class=" text-white">Mobile Number</mat-label>
              <input matInput formControlName="mobileNumber" required class=" text-white">
              <mat-error>Mobile number is required</mat-error>
            </mat-form-field>
          </div>

          <div class="">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label class=" text-white">Salary</mat-label>
              <input matInput formControlName="salary" required class=" text-white">
              <mat-error>Salary is required</mat-error>
            </mat-form-field>
          </div>
  
        </div>

        <div class="col-md-4">

          <app-image-uploader (onUploadFinished)="uploadFinished($event)" [config]="uploaderConfig"
            [imagesNames]="images"></app-image-uploader>
        </div>
      </div>           
    </form>
  
</div>
