<div class="container mt-3">

    <h2><span class="text-primary">{{ advance.employeeFullName }}</span> Advance Details </h2>

    <hr>
          
        <div class="row mt-2">
          <div class="col-md-2 fw-bold">Id</div>
          <div class="col-md-4">{{ advance.id}}</div>
        </div>
      
        <div class="row mt-2">
          <div class="col-md-2 fw-bold">Amount</div>
          <div class="col-md-4">{{advance.amount | currency}}</div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2 fw-bold">Advance Date</div>
            <div class="col-md-4">{{ advance.advanceDate | date: 'short'}}</div>
        </div>       

    <div class="btns mt-3">
        <button class="btn btn-secondary" [routerLink]="['/advances']">Back</button>
        <button class="btn btn-primary ms-2" [routerLink]="['/advances/edit', advance.id]">Edit</button>
    </div>

</div>
