<div class="container mt-3">

    <h2>Project: <span class="text-primary">{{ project.name }}</span></h2>

    <hr>
     
        <div class="row mt-2">
          <div class="col-md-2 fw-bold">Id</div>
          <div class="col-md-4">{{ project.id}}</div>
        </div>
      
        <div class="row mt-2">
          <div class="col-md-2 fw-bold">Work</div>
          <div class="col-md-4">{{work[project.work]}}</div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2 fw-bold">Income</div>
            <div class="col-md-4">{{ project.income | currency}}</div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2 fw-bold">Spending</div>
            <div class="col-md-4">{{project.spending | currency}}</div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2 fw-bold">IsPaid</div>
            <div class="col-md-4">
              <i class="fa-solid fa-circle-xmark text-danger " *ngIf="project.isPaid == false"></i>
              <i class="fa-solid fa-circle-check text-success" *ngIf="project.isPaid == true"></i>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2 fw-bold">Lines Count</div>
            <div class="col-md-4">{{project.linesCount}}</div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2 fw-bold">Client Number</div>
            <div class="col-md-4">{{ project.clientNumber}}</div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2 fw-bold">Start Date</div>
            <div class="col-md-4">{{ project.startDate | date: 'short'}}</div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2 fw-bold">Finish Date</div>
            <div class="col-md-4">{{ project.finishDate | date: 'short'}}</div>
        </div>

    <div class="btns mt-3">
        <button class="btn btn-secondary" [routerLink]="['/projects']">Back</button>
        <button class="btn btn-primary ms-2" [routerLink]="['/projects/edit', project.id]">Edit</button>
    </div>

    <hr>

    <h2 class="mt-2">Project Employees</h2>
  
    <table mat-table [dataSource]="employeeDS" class="mat-elevation-z2 w-100 mt-3">
  
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef>Employee Name </th>
        <td mat-cell *matCellDef="let employee"> {{employee.fullName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let employee">{{gender[employee.gender]}}</td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Age </th>
        <td mat-cell *matCellDef="let employee"> {{employee.age}} </td>
      </ng-container>

      <ng-container matColumnDef="rank">
        <th mat-header-cell *matHeaderCellDef> Rank </th>
        <td mat-cell *matCellDef="let employee"> {{rank[employee.rank]}} </td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="employeeColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: employeeColumns;"></tr>
    </table>

    <hr>
    <h2 class="mt-3">Project Equipments</h2>
  
    <table mat-table [dataSource]="equipmentDS" class="mat-elevation-z2 w-100 mt-3">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let equipment"> {{equipment.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let equipment"> {{equipment.name}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="equipmentColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: equipmentColumns;"></tr>
    </table>
</div>
