<div class="p-5 mb-4">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-6">
          <h1 class="display-5 fw-bold"> Welcome To
            <br />
            Adrenaline RopeAccess</h1>
          <p class=" fs-5 text">Adrenaline Rope Access is a company offering multi-purpose rope access solutions for a broad range
            of services on high rise structures.</p>
          <button class="btn btn-danger btn-lg mt-3" type="button">About Us</button>
        </div>
        <div class="col-md-6">
          <img src="../assets/imgs/Adrenaline2.jpg" alt="logo" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  
