<div class="container py-5">
    <div class="hero">
      <div class="row">
          <div class="col-md-6">
              <img src="../assets/imgs/Adrenaline2.jpg" alt="logo" class="img-fluid">
            </div>
        <div class="col-md-6">
          <h1 class="display-5 fw-bold"> Welcome To
            <br />
            Adrenaline Industrial RopeAccess</h1>
          <p class="fs-5 text mt-4">Adrenaline Rope Access is a company offering multi-purpose rope access solutions for a broad range
            of services on high rise structures.</p>
          <button class="btn btn-danger btn-lg mt-3" type="button">About Us</button>
        </div>
      </div>
    </div>
</div>

  <!-- <div class="container section-OurProject">

        <div class="text-center mb-5 mt-3">
            <div class="section-title mb-2">
                Our Projects
            </div>
            <div class="section-sub-title mt-3">
                Here's some of our Projects
            </div>
        </div>
        <ngx-slick-carousel class="carousel" 
        #slickModal="slick-carousel" 
        [config]="slideConfig" 
        (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">
<div ngxSlickItem *ngFor="let slide of slides" class="slide">
<img src="{{ slide.img }}" alt="" width="100%">
</div>
</ngx-slick-carousel>

<button (click)="addSlide()">Add</button>
<button (click)="removeSlide()">Remove</button>
<button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
<button (click)="slickModal.unslick()">unslick</button>
  </div> -->

  <div class="section-services mt-4 py-5 bg-section">
    <div class="container">
        <div class="text-center mb-5">

            <div class="section-services-title">
                Services
            </div>
            <div class="section-sub-title mt-2">
                Check out the great services we offer
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="info-card section-info">
                    <div class="icon">
                        <i class="fa-brands fa-dribbble"></i>
                    </div>
                    <div class="title">
                        Material Design
                    </div>
                    <p>Material is an adaptable system of guidelines, components, and tools that support the best practices of user interface design.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="info-card section-info">
                    <div class="icon">
                        <i class="fa-brands fa-audible"></i>
                    </div>
                    <div class="title">
                        Material Design
                    </div>
                    <p>Material is an adaptable system of guidelines, components, and tools that support the best practices of user interface design.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="info-card section-info">
                    <div class="icon">
                        <i class="fa-brands fa-centercode"></i>
                    </div>
                    <div class="title">
                        Material Design
                    </div>
                    <p>Material is an adaptable system of guidelines, components, and tools that support the best practices of user interface design.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="info-card section-info">
                    <div class="icon">
                        <i class="fa-brands fa-airbnb"></i>
                    </div>
                    <div class="title">
                        Material Design
                    </div>
                    <p>Material is an adaptable system of guidelines, components, and tools that support the best practices of user interface design.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-faq mt-4 py-5">
  <div class="container">
      <div class="text-center mb-5">
          <div class="section-title">
              FAQ
          </div>
          <div class="section-sub-title mt-3">
              Frequently Asked Questions
          </div>
      </div>

      <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item  bg-black text-white">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                  <button class="accordion-button bg-black text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                      Accordion Item #1
                  </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show " aria-labelledby="panelsStayOpen-headingOne">
                  <div class="accordion-body text-primary">
                      <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
              </div>
          </div>
          <div class="accordion-item  bg-black text-white">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                  <button class="accordion-button collapsed  bg-black text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      Accordion Item #2
                  </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse section-accordion" aria-labelledby="panelsStayOpen-headingTwo">
                  <div class="accordion-body">
                      <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
              </div>
          </div>
          <div class="accordion-item bg-black text-white">
              <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                  <button class="accordion-button collapsed  bg-black text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                      Accordion Item #3
                  </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse section-accordion" aria-labelledby="panelsStayOpen-headingThree">
                  <div class="accordion-body">
                      <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="section-newsletter">
  <div class="container">
      <div class="section-title">
          Join Our Newsletter
      </div>
      <div class="desc mt-2 text-black">
          Material is an adaptable system of guidelines, components.
      </div>

      <div class="input-group mt-3">
          <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="button-addon2">
          <button class="btn btn-danger" type="button" id="button-addon2">Subscribe</button>
      </div>

  </div>
</div>

<div class="back-to-top">
  <a class="btn btn-danger" href="home">
      <i class="fa-solid fa-arrow-up"></i>
  </a>
</div>
